@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;600;700&display=swap')

$gray-100: #f0f0f1
$gray-200: #ADB0B3
$gray-300: #636466

$primary-color: #a47148

$success-color: #2A9D8F
$success-color-hover: #1D6B62
$warging-color: #E9C46A
$danger-color: #e63946
$danger-color-hover: #B32D38

$text-font: 'Montserrat', sans-serif